.personalLqx{
    background: #f5f5f5;
    .personalHeader{
        height:1.226667rem;
        background: #fff;
        .headerUl{
            background: #fff;
            li{
                height:1.226667rem;
                line-height:1.226667rem;
                padding:0 0.266667rem;
                border-bottom: .01rem solid #d8d8d8;
                h3{
                    line-height:1.226667rem;
                    position:relative;
                    text-align:center;
                    font-size: 0.48rem;
                    color: #75a739;
                    i{
                        position:absolute;
                        left:0;
                        top:0;
                    }
                    span{
                        font-size: 0.32rem;
                        position:absolute;
                        right:0;
                        top:0;  
                    }
                }
            }
        }
    }
    .information{
        background: #fff;
        border-bottom: 1px solid #dcdcdc;
        padding-top:2.213333rem;
        li{
            position:relative;
            height:1.226667rem;
            line-height: 1.226667rem;
            font-size:0.426667rem;
            color: #3a3a3a;
            border-top: 1px solid #dcdcdc;
            span{
                display:inline-block;float:right;
                color: #bfbfbf;
            }
            img{
                
                width:0.533333rem;
                height:0.533333rem;
                position:absolute;
                top:50%;
                right:0;
                margin-top:-0.266667rem;
            }
            
        }
    }
    .exit{
        background: #fff;
        color: #3a3a3a;
        box-shadow: 0 -0.053333rem 0.106667rem 0 rgba(0,0,0,.2);
        font-size:0.48rem;
        text-align: center;
        line-height: 1.2rem;
        .btnExit{
        
        }
    }
}