app-footer{height:2.666667rem;}
.navbar-default{box-shadow: 0 -2px 2px 0 rgba(0,0,0,.15);}
.navbar-default .navbar-nav{width:90%;margin:0 auto;}
.navbar-default .navbar-nav>li{float:left;width:25%;}
.navbar-default .navbar-nav>li>a:hover{color:#65a032;}
.navbar-default .navbar-nav>li>a.startIn{color:#65a032;}
.navbar-default .navbar-nav>li>a>span{display:block;font-size:0.373333rem;text-align: center;}
.navbar-default .navbar-nav>li>a>.glyphicon{font-size:0.533333rem;padding-bottom:0.266667rem;}

    
    .actived{
    background: #ff4848;
    line-height: 0.373333rem;
    border-radius: 0.4rem;
    min-width: 0.373333rem;
    padding: 0 0.053333rem;
    color: #fff;
    top: 0;
    right: auto;
    bottom: auto;
    left: 50%;
    position: absolute;
    margin-left: 0.32rem;
}
