#myCarousel{
    height: 10.0rem;
    width: 10.0rem;
    ol{
        .carousel_li{
            display:inline-block !important;
            width: 0.266667rem !important;
            height: 0.266667rem !important;
            margin:0 0.133333rem !important;
        } 
        li{
            display:inline-block !important;
            width: 0.266667rem !important;
            height: 0.266667rem !important;
            margin:0 0.133333rem !important;
        }
    }

}

.goods_title{
    height: 4.586667rem;
    padding: 0.333333rem;
    margin-bottom: 0.133333rem;
    background: #fff;
    text-align: center;
    h3{
        font-size: 0.466667rem;
        color: #3a3a3a;
        margin: 0 0 0.066667rem;
        font-weight: 400;
        padding:0.133333rem 0;
    }
    h4{
        font-size: 0.386667rem;
        color: #878787;
        margin: 0 0 0.066667rem;
        font-weight: 400;
        
    }
    .price{
        margin-bottom: 0.133333rem;
        text-align: center;
        color:  #ff8000;
        small{
            font-size: 0.32rem;
            
        }
        em{
            font-size: 0.8rem;
            font-style:normal;
        }
    }
    .size{
        width: 100%;
        height: 1.76rem;
        .cur{
            display: inline-block;
            margin:0 0.133333rem 0.266667rem 0.133333rem;
            border:0.013333rem solid #ccc;
            width: 1.6rem;
            height:0.933333rem;
            text-align:center;
            background-color: #ff8000;

            color:#fff;
            strong{

            }
            small,strong{
                display: block;
                width: 100%;
                height: 0.426667rem;
                font-size:0.32rem;
            }
           

        }
        p{
            font-size:0.373333rem;
            font-style:normal;
        }
    }
}
.liucheng{
        height: 1.733333rem;
        padding-top:0.266667rem;
        background-color: #ddd;
        .uls{
            padding:0 0.4rem;
            background-color: #FFF;
            height: 1.2rem;
            li{
                float:left;
                line-height: 1.2rem;
                color:#aaa;
                font-size:0.32rem;
                .glyphicon-check{
                    margin:0 0.133333rem 0 0.3rem;
                    color:#ff8000;
                }
            }
            .glyphicon-chevron-right{
                float:right;
                font-size:0.32rem;
                line-height: 1.2rem;
                color:#aaa;
            }
        }
}
.pingjia{
    width: 100%;
    height: 13.013333rem;
    .pj_t{
        height: 1.066667rem;
        width: 100%;
        padding:0 0.4rem;
        border-bottom:1px solid #ccc;
        font-size:0.4rem;
        .pj_tl,.pj_tr{
            line-height: 1.066667rem;
            color:#aaa;
        }
        .pj_tl{
            float:left;
        }
        .pj_tr{
            float:right;
            i{
                color:#ff8000;
            }
        }
    }
    .pj_ul{
        li{

        }
    }
    .go_pj{
        width: 100%;
        height: 0.533333rem;
        text-align:center;
        padding: 0.266667rem 0;
        a{
            display:inline-block;
            width: 2.773333rem;
            height: 0.533333rem;
            border:0.013333rem solid #aaa;
           
            font-size:0.32rem;
            color:#aaa;
            text-align:center;
            border-radius:0.266667rem;
        }
    }
}
