<div class="list">
    <div class="header">
        <div class="header_t">
            <i class="el-icon-arrow-left"></i>
            <a routerLink="#" class="list_search">
                <i class="el-icon-search"></i>
                <input type="text" class="sousuo" value="苹果" />
            </a>
            <div class="sort">
                <span>综合<i class="el-icon-caret-bottom"></i></span>
            </div>
        </div>
    </div>
    
   <ul class="nav">
        <li><a href="#">全部</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        <li><a href="#">奇异果</a></li>
        
    </ul>
    <div class="main">
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p> <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p> <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p> <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
        <p>1111</p>
    </div>
       
  
</div>

