.list{
    height: 100%;
    display:flex;
    flex-direction:column;
    .header{
        height: 1.2rem;
        padding:0.2rem 0;
        background-color:#eee;
        .header_t{
            height: 0.8rem;
            position:relative;
            .el-icon-arrow-left{
                font-size:0.666667rem;
                color: #58bc58;
                line-height: 0.8rem;
                margin: 0 0.266667rem;
                float:left;
            }
            .list_search{
                height: 0.773333rem;
                width: 7.066667rem;
                position:relative;
                color:#000;
                .el-icon-search{
                    position:absolute;
                    left: 2.666667rem;top: 0.133333rem;
                    font-size:0.533333rem;
                }
                .sousuo{
                    float:left;
                    height: 0.773333rem;
                    width: 7.066667rem;
                    border:1px solid #eee;
                    border-radius:0.106667rem;
                    background-color: #ddd;
                    font-size:0.373333rem;
                    padding-left:3.333333rem;   
                }
                
            }
            .sort{
                float:left;
                width: 1.733333rem;
                font-size:0.373333rem;
                text-align:center;
                line-height: 0.8rem;
                color:#58bc58;
                position:relative;
                .sort_ul{
                    display:none;
                    position:absolute;
                    right: 0.04rem;top: 0.786667rem;
                    // background-color: #000;
                    background-color:rgba(0,0,0,0.7);
                    li{
                        width: 2.0rem;
                        height: 0.8rem;
                        color:#fff;
                        font-size:0.4rem;
                        .glyphicon-arrow-down{
                            font-size:0.4rem;
                        }
                    }
                }
                .sort_ative{
                    color:#ff8000;
                }
                .showHide{
                   display:block;
                }
                
            }
        }

    }
    .nav{
        height: 1.2rem;
        width: 100%;
        background-color:#eee;
        overflow-y: hidden;
        display:flex;
        &::-webkit-scrollbar {width: 0px;display: none;}
        li{
            flex:1;
            // padding: 0 0.133333rem;
            white-space:nowrap; 
            a{
                color::#000;
                font-size:0.466667rem;
                height: 1.2rem;
                padding:0 0.266667rem;
                line-height: 1.2rem;

            }
        }
    }
    .main{
        flex:1;
        overflow-x:hidden;
        display:flex;
        flex-direction: column;
        position:relative;
        &::-webkit-scrollbar {width: 0px;display: none;}
        p{height: 0.666667rem;}
        .list_ul{
            
            .list_li{
                width: 100%;
                height: 3.333333rem;
                padding:0.266667rem;
                border-bottom:0.013333rem solid #d8d8d8;
                color:#aaa;
                img{
                    float:left;
                    width: 2.8rem;
                    height: 2.8rem;
                    margin-right:0.266667rem;
                    border-radius: 0.133333rem;
                }
                .list_li_r{
                    width: 6.4rem;
                    height: 2.8rem;
                    float:left;
                    dt,dd,{
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    dt{
                        display:block;
                        color:#3a3a3a;
                        font-size:0.4rem;
                    }
                    dd{
                         display:block;
                         font-size:0.4rem;
                    }
                    .list_dd{
                        margin-top:0.4rem;
                      
                    }
                    .list_div{
                        width: 100%;
                        height: 0.613333rem;
                        color: #ff8000;
                        position:relative;
                        margin-top:0.066667rem;
                        small{
                             font-size:0.32rem;   
                        }
                        b{  
                            font-size:0.466667rem;
                        }
                        span{
                            position:absolute;
                            top: 0.093333rem;left: 1.613333rem;
                            color:#fff;
                            font-size:0.32rem;
                            padding:0.026667rem;
                        }
                        .glyphicon-plus-sign{
                            position:absolute;
                            right: 0.24rem;top: 0.09rem;
                            font-size:0.533333rem;

                        }
                    }
                }
            }
        }
    
        .carts{
            position:fixed;;
            left: 0.266667rem;bottom:0.266667rem;
            width: 1.333333rem;
            height: 1.333333rem;
            background-color: #58bc58;
            position:flex;
            border-radius:50%;

            .glyphicon-shopping-cart{
                position:absolute;
                left: 0.333333rem;
                top: 0.373333rem;
                display:block;
                color:#fff !important;
                
                font-size:0.6rem !important;
            }
            .f_carts_qty{
                position:absolute;
                right: 0.133333rem;top: 0.133333rem;
                width:0.466667rem;
                height:0.466667rem;
                color:#fff;
                background-color: red;
                border-radius:50%;
                text-align:center;
                font-size:0.32rem;
            }
        }
    }

}