.datacarousel{width:100%;position:relative;}
.datacarousel .carousel-data{width:100%;height:100%;position:absolute;left:0;top:0;z-index:100;}
.datacarousel .carousel-data:nth-of-type(2){left:100%;}
.datacarousel .carousel-data:last-of-type{left:-100%;}
.datacarousel .carousel-data img{width:100%;height:100%;}

.datacarousel .carousel-data.current-l-right{left:100%;}
.datacarousel .carousel-data.current-l-center{left:0;z-index:300;transition:all 0.5s ease-out;}
.datacarousel .carousel-data.current-l-left{left:-100%;z-index:300;transition:all 0.5s ease-out;}

.datacarousel .carousel-data.current-r-right{left:100%;z-index:300;transition:all 0.5s ease-out;}
.datacarousel .carousel-data.current-r-center{left:0;z-index:300;transition:all 0.5s ease-out;}
.datacarousel .carousel-data.current-r-left{left:-100%;}