.myorderMain{
    // flex:1;
    // overflow-x:hidden;
    .myordreList{
        li{
            padding:0 0.266667rem;
            border-bottom: .01rem solid #d8d8d8;
            height:0.88rem;
            span{
                font-size:0.373333rem;
            }
            p{
                height:0.88rem;

                span{
                    line-height:0.88rem;
                    display:block;
                    float:left;
                    font-size:0.373333rem;
                }
                .fr{float:right;color: #ff7e05;}
            }
            span{
                display:block;
                float:right;
                line-height:0.88rem;
            }
            .delete{
                float:right;
                color: #878787;
                height: 0.64rem;
                background-color: #fff;
                border-radius: 0.64rem;
                border: .01rem solid #d8d8d8;
                padding: 0.08rem 0.266667rem;
                margin-top:0.133333rem;
                margin-left: 0.133333rem;
            font-size:0.373333rem;}
            
        }
        .h98{
            height:2.613333rem;
            div{
                float:left;
                span{padding:0 0.266667rem;}
                img{width:1.866667rem;height:1.866667rem;}
                p{font-size:0.373333rem;line-height: 0.533333rem;}
                i{font-size:0.32rem;line-height: 0.426667rem;}
            }
            .pl10{padding-left:0.266667rem;}
            .fr{float:right;}
        }
    }
}