<div class="product">
    <div class="header">
        <div class="header_t">
            <i class="el-icon-arrow-left"></i>
            <div class="header_c">
                <a routerLink="" >商品</a>
                <a routerLink="" >详情</a>
                <a routerLink="" >评价</a>
            </div>
            <div class="header_r">
                <i class="el-icon-share"></i>
                <i class="el-icon-more"></i>
            </div>
        </div>
    </div>
    <div class="main">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img style="width:10.0rem"  src="https://imgjd3.fruitday.com/images/product_pic/2169/1/1-270x270-2169-YR8PTW67.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img style="width:10.0rem"  src="https://imgjd3.fruitday.com/images/product_pic/2169/1/1-270x270-2169-YR8PTW67.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img style="width:10.0rem" src="https://imgjd2.fruitday.com/images/product_pic/49/1/1-270x270-49-D6PKH6S9.jpg" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
          <!--   <a class="carousel-control left" href="#myCarousel" 
               data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" 
               data-slide="next">&rsaquo;</a> -->
        </div> 
    </div>
    <div class="footer">
        <div class="foot_l">
             <span class="glyphicon glyphicon-shopping-cart"></span>
             <i class="f_carts_qty" >0</i>

             <!-- *ngIf=" qty >0"  -->
        </div>
       
    </div>
</div>

