<div class="product">
    <div class="header">
        <div class="header_t">
            <i class="el-icon-arrow-left"></i>
            <div class="header_c">
                <a routerLink="merchandise" >商品</a>
                <a routerLink="details" >详情</a>
                <a routerLink="estimate" >评价</a>
            </div>
            <div class="header_r">
                <i class="el-icon-share"></i>
                <i class="el-icon-more"></i>
            </div>
        </div>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <div class="foot_l">
             <span class="glyphicon glyphicon-shopping-cart"></span>
             <i class="f_carts_qty" >0</i>

             <!-- *ngIf=" qty >0"  -->
            
        </div>
        <div class="foot_r">
            <span class="arrival_time">明日达</span>
            <span class="addcart" >加入购物车</span>
        </div>
    </div>
</div>

