/* 
* @Author: Marte
* @Date:   2018-03-02 22:02:31
* @Last Modified by:   Marte
* @Last Modified time: 2018-03-02 22:10:02
*/
p{
    margin:2.666667rem auto;
    text-align: center;
    font-size: 0.8rem;
}