@import "~element-angular/theme/index.css";

/*重置样式表*/
/*==========样式重置===========*/
body,h1,h2,h3,h4,p,a,input,img,ul,li,ol,dl,dt,dd{
    padding:0;
    margin:0;}
ul,ol{
    list-style:none;}
img{
    display:block;
    border:0;}
input{
    outline:none;}
header,footer,section,main,nav{
    display:block;}



body,html{
    font-size:0.64rem;
    font-family:"微软雅黑";
    color:#3e3e3e;
    height: 100%;
    width: 100%;
}

a{
    text-decoration:none;
    color:#0dc441;}
a:hover{
    text-decoration:underline;}
i{font-style:normal;}
*{
    box-sizing:border-box;}

app-root{
    width:100%;
    height:100%;
}

app-root .container{padding:0;}

