#category{height:100%;display:flex;flex-direction:column;}
#category .head{height:1.226667rem;padding:0.213333rem;border-bottom:0.0056rem solid #999;}
#category .head a{display:block;position:relative;height:100%;}
#category .head a i{position:absolute;left:3.733333rem;top:0;line-height:0.746667rem;color:#555;}
#category .head a input{display:inline-block;width:100%;height:100%;text-align:center;background:#eee;border:0 none;}
#category .main{flex:1;padding-top:0.053333rem;}
#category .main .main_l{float:left;width:2.133333rem;background:#f5f5f5;height:100%;}
#category .main .main_l li{width:100%;font-size:0.426667rem;line-height:1.226667rem;text-align:center;color:#3a3a3a;}
#category .main .main_l li.active{color:#65a032;border-left:0.0533333rem solid #65a032;}
#category .main .main_r{overflow:hidden;}
#category .foot{height:1.12rem;}