<div id="home">
    <div class="head">
        <div class="address-info">
            <span class="tomorrow">
                <img src="https://huodongjd1.fruitday.com/sale/appxx/ci_20171025_1.png" />
            </span>
            <span class="address" (click)="goAddress()">{{address}}</span>
            <span class="arrow el-icon-caret-bottom"></span>
        </div>
        <a href="search" class="search"><i class="el-icon-search"></i></a>
    </div>
    <div class="main">
        <app-dataCarousel [banners]="banners"></app-dataCarousel>
        <div class="vip">
            <a><img src="https://imgjd5.fruitday.com/images/2018-03-02/cdfba3db798c79c6259beb7c894ae947.jpg" /></a>
            <a><img src="https://imgjd6.fruitday.com/images/2018-01-06/66b11add93bf19fc63fcaf73d05b8972.jpg" /></a>
        </div>
        <div class="hotsale">
            <div class="h_head">
                <img src="https://imgjd6.fruitday.com/images/2018-01-17/8265ad64fa014013d28ec2e410c6083e.jpg" />
            </div>
            <a class="h_main" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goDetails($event,hotFruit[0].id)">
                <div class="h_main_l">
                    <img [src]="hotFruit[0] ? hotFruit[0].mainimg : ''"  />
                </div>
                <div class="h_main_r">
                    <h2>{{hotFruit[0] ? hotFruit[0].title : ''}}</h2>
                    <h3>{{hotFruit[0] ? hotFruit[0].describes : ''}}</h3>
                    <p>￥<span>{{hotFruit[0] ? hotFruit[0].saleprice : ''}}</span>/<em>kg</em><strong class="el-icon-plus addcar" [attr.gid]="hotFruit[0] ? hotFruit[0].id : ''" (touchend)="addCart($event);$event.stopPropagation();"></strong></p>
                </div>
            </a>
            <div class="h_foot">
                <a class="fruit" *ngFor="let obj of hotFruit" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goDetails($event,obj.id)">
                    <img [src]="obj.mainimg" />
                    <h3>{{obj.title}}}</h3>
                    <p>￥<span>{{obj.saleprice}}</span>/<em>kg</em><strong class="el-icon-plus addcar" [attr.gid]="obj.id" (touchend)="addCart($event);$event.stopPropagation();"></strong></p>
                </a>
            </div>
        </div>
        <div class="choiceness">
            <div class="c_head">
                <img src="https://imgqn9.fruitday.com/images/2018-01-02/1a42df8fbf24bca7f8bd2e88d2e89c65.jpg" />
            </div>
            <div class="item0">
                <div class="item_head" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goSpecial('https://imgjd2.fruitday.com/images/2017-12-29/8df550ef3cd69cc164fb647f2b273ac0.jpg',seasonFruit)">
                    <a href="#">
                        <img src="https://imgjd2.fruitday.com/images/2017-12-29/8df550ef3cd69cc164fb647f2b273ac0.jpg" />
                    </a>
                </div>
                <div class="item_foot">
                    <a class="fruit" *ngFor="let obj of seasonFruit" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goDetails($event,obj.id)">
                        <img [src]="obj.mainimg" />
                        <h3>{{obj.title}}</h3>
                        <p>￥<span>{{obj.saleprice}}</span>/<em>kg</em><strong class="el-icon-plus addcar" [attr.gid]="obj.id" (touchend)="addCart($event);$event.stopPropagation();"></strong></p>
                    </a>
                </div>
            </div>
            <div class="item0">
                <div class="item_head" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goSpecial('https://imgqn8.fruitday.com/images/2018-01-02/50a25f418abaa0ecb7e6488288cfe505.jpg',seafood)">
                    <a href="#">
                        <img src="https://imgqn8.fruitday.com/images/2018-01-02/50a25f418abaa0ecb7e6488288cfe505.jpg" />
                    </a>
                </div>
                <div class="item_foot">
                    <a class="fruit" *ngFor="let obj of seafood" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goDetails($event,obj.id)">
                        <img [src]="obj.mainimg" />
                        <h3>{{obj.title}}</h3>
                        <p>￥<span>{{obj.saleprice}}</span>/<em>kg</em><strong class="el-icon-plus addcar" [attr.gid]="obj.id" (touchend)="addCart($event);$event.stopPropagation();"></strong></p>
                    </a>
                </div>
            </div>
            <div class="item0">
                <div class="item_head" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goSpecial('https://imgqn9.fruitday.com/images/2018-01-02/751c2c212c3ae206b46ecef02a71fe28.jpg',meat)">
                    <a href="#">
                        <img src="https://imgqn9.fruitday.com/images/2018-01-02/751c2c212c3ae206b46ecef02a71fe28.jpg" />
                    </a>
                </div>
                <div class="item_foot">
                    <a class="fruit" *ngFor="let obj of meat" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goDetails($event,obj.id)">
                        <img [src]="obj.mainimg" />
                        <h3>{{obj.title}}</h3>
                        <p>￥<span>{{obj.saleprice}}</span>/<em>kg</em><strong class="el-icon-plus addcar" [attr.gid]="obj.id" (touchend)="addCart($event);$event.stopPropagation();"></strong></p>
                    </a>
                </div>
            </div>
            <div class="item0">
                <div class="item_head" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goSpecial('https://imgjd3.fruitday.com/images/2018-01-01/349fe19f9990ce5003ec32c2b9666122.jpg',milk)">
                    <a href="#">
                        <img src="https://imgjd3.fruitday.com/images/2018-01-01/349fe19f9990ce5003ec32c2b9666122.jpg" />
                    </a>
                </div>
                <div class="item_foot">
                    <a class="fruit" *ngFor="let obj of milk" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goDetails($event,obj.id)">
                        <img [src]="obj.mainimg" />
                        <h3>{{obj.title}}</h3>
                        <p>￥<span>{{obj.saleprice}}</span>/<em>kg</em><strong class="el-icon-plus addcar" [attr.gid]="obj.id" (touchend)="addCart($event);$event.stopPropagation();"></strong></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="moods">
            <div class="m_head" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goSpecial('https://imgjd4.fruitday.com/images/2018-01-02/144562fa6b6a129221316260feb0a797.jpg',moods)">
                <img src="https://imgjd4.fruitday.com/images/2018-01-02/144562fa6b6a129221316260feb0a797.jpg" />
            </div>
            <ul class="m_main">
                <li *ngFor="let obj of moods.slice(0,5)" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goDetails($event,obj.id)">
                    <div class="m_main_l">
                        <img [src]="obj.mainimg" />
                    </div>
                    <div class="m_main_r">
                        <h2>{{obj.title}}</h2>
                        <h3>{{obj.describes}}</h3>
                        <p>￥<span>{{obj.saleprice}}</span>/<em>kg</em><strong class="el-icon-plus addcar" [attr.gid]="obj.id" (touchend)="addCart($event);$event.stopPropagation();"></strong></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="foot">
        <app-footer></app-footer>
    </div>
    <div class="fixer" *ngIf="popup">
        <div class="f-main">
            <div class="f-main-t">
                您还没有登录，请先登录！
            </div>
            <div class="f-main-b">
                <input type="button" value="取消" (click)="cancelAdd()" />
                <input type="button" value="确定" (click)="sureAdd()" />
            </div>
        </div>
    </div>
    <div class="fixer-a" *ngIf="fixer_a">
        <div class="fix-head">
            <i class="el-icon-close" (touchend)="closeAddress()"></i>
            <p>选择收货地址</p>
            <a (touchend)="goAddAddress()">新增地址</a>
        </div>
        <div class="fix-main">
            <h3>当前地址</h3>
            <p>{{detailsAddress}}</p>
        </div>
    </div>
</div>




