#home{display:flex;flex-direction:column;height:100%;}
#home .head{height:1.013333rem;box-shadow:0 0.053333rem 0.053333rem 0.053333rem rgba(0,0,0,.2);position:relative;}
#home .head .address-info{width:7.413333rem;padding-right:0.426667rem;margin-left:0.426667rem;height:100%;}
#home .head .address-info .tomorrow{display:inline-block;padding-right:0.133333rem;padding-top:0.32rem;}
#home .head .address-info .tomorrow img{height:0.373333rem;width:1.36rem;}
#home .head .address-info .address{display:inline-block;font-size:0.373333rem;line-height:38px;}
#home .head .address-info .arrow{display:inline-block;}
#home .head .search{position:absolute;right:0.426667rem;top:0;}
#home .head .search i{display:inline-block;font-size:0.533333rem;line-height:1.013333rem;color:black;}

#home .main{flex:1;overflow-x:hidden;}
#home .main .vip{padding:0 0.2rem 0.533333rem;overflow:hidden;}
#home .main .vip a{float:left;padding:0.266667rem 0.066667rem 0;}
#home .main .vip a img{width:4.666667rem;height:2.266667rem;}

#home .main .holiday a{display:block;}
#home .main .holiday a img{height:4.266667rem;width:100%;}

#home .main .hotsale .h_head img{width:100%;height:1.706667rem;}
#home .main .hotsale .h_main{display:block;padding:0.533333rem 0.32rem 0.533333rem 0.666667rem;}
#home .main .hotsale .h_main .h_main_l{float:left;}
#home .main .hotsale .h_main .h_main_l img{width:2.933333rem;height:2.933333rem;}
#home .main .hotsale .h_main .h_main_r{margin-left:0.666667rem;overflow:hidden;}
#home .main .hotsale .h_main .h_main_r h2{margin-bottom:0.08rem;font-size:0.373333rem;line-height:0.533333rem;color:#3a3a3a;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#home .main .hotsale .h_main .h_main_r h3{margin-bottom:0.96rem;font-size:0.32rem;line-height:0.533333rem;color:#878787;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#home .main .hotsale .h_main .h_main_r p{font-size:0.32rem;line-height:0.533333rem;color:#ff8000;position:relative;}
#home .main .hotsale .h_main .h_main_r p em{font-size:0.213333rem;}
#home .main .hotsale .h_main .h_main_r p .addcar{width:0.533333rem;height:0.533333rem;text-align:center;position:absolute;right:0;top:-0.08rem;line-height:0.533333rem;font-weight:bold;border:0.026667rem solid #bfbfbf;border-radius:50%;font-size:0.426667rem;}
#home .main .hotsale .h_foot{display:flex;overflow-x:auto;}
#home .main .hotsale .h_foot .fruit{display:inline-block;padding:0.266667rem 0.213333rem 0.4rem;width:2.986667rem;height:4.533333rem;}
#home .main .hotsale .h_foot .fruit img{width:2.56rem;height:2.56rem;}
#home .main .hotsale .h_foot .fruit h3{margin-top:0.32rem;font-size:0.32rem;line-height:0.426667rem;color:#3a3a3a;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#home .main .hotsale .h_foot .fruit p{font-size:0.32rem;line-height:0.533333rem;color:#ff8000;position:relative;}
#home .main .hotsale .h_foot .fruit p em{font-size:0.213333rem;}
#home .main .hotsale .h_foot .fruit p .addcar{width:0.533333rem;height:0.533333rem;text-align:center;position:absolute;right:0;top:-0.08rem;line-height:0.533333rem;font-weight:bold;border:0.026667rem solid #bfbfbf;border-radius:50%;font-size:0.426667rem;}

#home .main .choiceness .c_head img{width:100%;height:1.706667rem;}
#home .main .choiceness .item_head a{display:block;}
#home .main .choiceness .item_head a img{width:100%;height:4.266667rem;}
#home .foot{height:1.12rem;box-shadow:0 -0.053333rem 0.053333rem 0.053333rem rgba(0,0,0,.2);}
#home .main .choiceness .item_foot{display:flex;overflow-x:auto;}
#home .main .choiceness .item_foot .fruit{display:inline-block;padding:0.266667rem 0.213333rem 0.4rem;width:2.986667rem;height:4.533333rem;}
#home .main .choiceness .item_foot .fruit img{width:2.56rem;height:2.56rem;}
#home .main .choiceness .item_foot .fruit h3{margin-top:0.32rem;font-size:0.32rem;line-height:0.426667rem;color:#3a3a3a;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#home .main .choiceness .item_foot .fruit p{font-size:0.32rem;line-height:0.533333rem;color:#ff8000;position:relative;}
#home .main .choiceness .item_foot .fruit p em{font-size:0.213333rem;}
#home .main .choiceness .item_foot .fruit p .addcar{width:0.533333rem;height:0.533333rem;text-align:center;position:absolute;right:0;top:-0.08rem;line-height:0.533333rem;font-weight:bold;border:0.026667rem solid #bfbfbf;border-radius:50%;font-size:0.426667rem;}

#home .main .moods .m_head img{width:100%;height:1.706667rem;}
#home .main .moods .m_main{display:block;padding:0.533333rem 0.32rem 0.533333rem 0.666667rem;}
#home .main .moods .m_main .m_main_l{float:left;}
#home .main .moods .m_main .m_main_l img{width:2.933333rem;height:2.4rem;}
#home .main .moods .m_main .m_main_r{margin-left:0.666667rem;overflow:hidden;}
#home .main .moods .m_main .m_main_r h2{margin-bottom:0.08rem;font-size:0.373333rem;line-height:0.533333rem;color:#3a3a3a;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#home .main .moods .m_main .m_main_r h3{margin-bottom:0.96rem;font-size:0.32rem;line-height:0.533333rem;color:#878787;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#home .main .moods .m_main .m_main_r p{font-size:0.32rem;line-height:0.533333rem;color:#ff8000;position:relative;}
#home .main .moods .m_main .m_main_r p em{font-size:0.213333rem;}
#home .main .moods .m_main .m_main_r p .addcar{width:0.533333rem;height:0.533333rem;text-align:center;position:absolute;right:0;top:-0.08rem;line-height:0.533333rem;font-weight:bold;border:0.026667rem solid #bfbfbf;border-radius:50%;font-size:0.426667rem;}
#home .main .moods .h_foot{display:flex;overflow-x:auto;}

#home .fixer{position:fixed;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,.3);z-index:500;}
#home .fixer .f-main{width:7.2rem;border-radius:0.266667rem;position:absolute;left:50%;bottom:50%;transform:translate(-50%,-50%);background:white;}
#home .fixer .f-main .f-main-t{font-size:0.426667rem;line-height:2.666667rem;text-align:center;}
#home .fixer .f-main .f-main-b{display:flex;height:1.226667rem;}
#home .fixer .f-main .f-main-b input{flex:1;text-align:center;line-height:1.12rem;color:#008eff;}

#home .fixer-a{position:fixed;left:0;top:0;right:0;bottom:0;background:white;z-index:500;}
#home .fixer-a .fix-head{height:1.226667rem;line-height:1.226667rem;color:#65a032;overflow:hidden;}
#home .fixer-a .fix-head i{float:left;width:20%;font-size:0.64rem;line-height:1.226667rem;padding-left:0.266667rem;}
#home .fixer-a .fix-head p{float:left;width:60%;text-align:center;font-size:0.533333rem;}
#home .fixer-a .fix-head a{float:left;font-size:0.426667rem;color:#65a032;text-align:center;}
#home .fixer-a .fix-main h3{padding:0.32rem;font-size:0.32rem;line-height:0.426667rem;background:#f5f5f5;}
#home .fixer-a .fix-main p{padding-left:0.32rem;font-size:0.373333rem;line-height:1.333333rem;}