.loginLqx{
    .loginHeader{
        height:1.226667rem;
        background: #fff;
        .headerUl{
            li{
                height:1.226667rem;
                line-height:1.226667rem;
                padding:0 0.266667rem;
                border-bottom: .01rem solid #d8d8d8;
                h3{
                    line-height:1.226667rem;
                    position:relative;
                    text-align:center;
                    font-size: 0.48rem;
                    color: #75a739;
                    i{
                        position:absolute;
                        left:0;
                        top:0;
                    }
                }
            }
        }
    }
    .loginMain{
        height:8rem;
       .loginPhone{
        height:6.8rem;
        position:absolute;
        top:50%;
        margin-top:-3.413333rem;
        width:100%;
        padding:0 0.266667rem;
        li{
            height:1.12rem;
            font-size:0.426667rem;
            color: #878787;
            border-bottom: 0.026667rem solid #d8d8d8;
            line-height:1rem;
            input{
                border:none;
            }
            .phone{
                
            }
            .getVer{
                float:right;
                color:#fff;
                border-radius: 0.053333rem;
                font-size:0.373333rem;
                height:0.666667rem;
                line-height:0.666667rem;
                
            }
            i{

            }
            .ver{

            }
        }
        .lastLi{
            font-size:0.32rem;
            border:none;
        }
       } 
    }
    .login{
        p{
            margin-top:1.333333rem;
            margin-bottom:0.266667rem;
            input{
                width:100%;
                height:1.066667rem;
                font-size:0.426667rem;
            }
        }
        span{
            display:inline-block;
            color: #f93;
            font-size:0.32rem;
        }
        .fr{
            float:right;
        }
    }
}
