<div class="cartLqx">
    <div class="cartHeader">
        <ul class="headerUl  navbar navbar-default navbar-fixed-top" >
            <li>
                <h3>
                    <a href="javascript:history.go(-1)"><i class="el-icon-arrow-left"></i></a>
                    购物车
                    <span class="edit"(click)="delEdit()">{{editText}}</span>
                </h3>
            </li>
        </ul>
    </div>
    <div class="cartMainlqx">
        <div class="cartAddress"  (click)="addressEdit()" *ngIf="address[0]">
            <span class="borderTop"></span>
            <span class="borderBottom"></span>
           
            <p>
                <span class="username">{{address[0].name}}</span>
                <span class="phone">{{address[0].phone}}</span>
                <span class="addressType">公司</span>
            </p>
            <div class="localAddress">
                <i class="glyphicon glyphicon-map-marker"></i>
                <p>
                    <span class="street">{{address[0].city}} </span>
                    <span class="detailAddress">{{address[0].city}} {{address[0].road}} {{address[0].room}}</span>
                </p>
            </div>
            <i class="glyphicon glyphicon-pencil"></i>
        </div>
        <div class="cartMain">
            <div class="cartNav">
                <span>商品清单</span>
                <span class="fr">总重约<i>0</i>kg</span>
            </div>
            <div class="cartGoodsList" *ngIf="cartset">
                <ul class="cartList">
                    
                    <li class="h98" *ngFor="let obj of cartset;let idx = index;trackBy:trackByID" (click)="count($event,idx)" >
                        <div class="pt" *ngIf="multiple">
                            <i class="circle" [class.actived]="currentTrIndexs.indexOf(idx)>-1" (click)="selectTr(idx)"></i>
                        </div>
                        
                        <div>
                            <img [src]="obj.mainimg" />
                        </div>
                        <div class="pl10">
                            <p>{{obj.describes}}</p>
                            <p><i>300g</i><i>约0.30kg</i></p>
                            <span class="price">￥{{obj.price}}</span><span>明日达</span>
                        </div>
                        <div class="fr">
                            <i class="glyphicon glyphicon-minus-sign"></i>
                            <span class="num">{{obj.num}}</span>
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </div>
                        <div [class.maskNone]="maskStatus == 1"class="mask">
                           <div class="deleteDialog">
                               <div class="verMass">确定要删除{{obj.describes}}？</div>
                               <div class="verBtn">
                                   <span class="cancelBtn" (click)="cancelMask(idx)">取消</span>
                                   <span  (click)="deleteBtn(currentTrIndexs)">确定</span>
                               </div>
                           </div>

                        </div>
                        <div class="verDeleteDialog">删除成功</div>
                    </li>
                    
                </ul>
            </div>
            <div class="gotoMine" (click)="goHome()" *ngIf="cartset.length<=0">
                <img src="https://wap.fruitday.com/content/images/main/cart_empty-172251d77c.png"/>
                <p class="p1">还没找到心仪的商品吗？</p>
                <p>去逛逛吧！</p>
            </div>
        </div>
    </div>
   <div class="foot">
        <div class="cartFoot" *ngIf="multiple">
            <i class="circle" (click)="selectAll()" [class.actived]="currentTrIndexs.length==cartset.length"></i>
            <div class="fl">
                <span>全选</span>
                <div class="priceT">
                    <p>合计：<i>￥{{totalMoney}}</i></p>
                    <p>共优惠￥14</p>
                </div>
            </div>
            <div class="fr">
                <button [class.delCountone]="edit ==1" [disabled]="currentTrIndexs.length<=0"(click)="goConfirmorder()" >结算（{{qty}}）</button>
                
            
                
                <button [disabled] ="currentTrIndexs.length<=0" [class.del]="edit ==0" (click)="mask()" >删除（{{qty}}）</button>
                
            </div>
            

        </div>
        
        <app-footer></app-footer>
    </div>
    <i *ngIf="carQty>0"[class.activedqty]="carQty>0">{{carQty}}</i>
</div>
<div [class.addressNone]="addressStatus == 1"class="address">
    <div class="payb">
        <div class="p_title">
            <span class="close" (click)="close()"><i>&times;</i></span>
            <h2>收货地址</h2>
        </div>
        <ul *ngFor="let obj of address;let idxa = index;">
            <li>
                <i class="circle" [class.activedA]="currentTrIndexs.indexOf(idxa)>-1" (click)="selectAddress(idxa)"></i>
                <div class="adm">
                    <p>{{obj.name}} {{obj.phone}}</p>
                    <p>{{obj.city}} {{obj.road}} {{obj.room}}</p>
                </div>
                <i class="glyphicon glyphicon-pencil editaddress" *ngIf="currentTrIndexs.indexOf(idxa)<0"></i>
                <i class="glyphicon glyphicon-pencil editaddress activedU" *ngIf="currentTrIndexs.indexOf(idxa)>-1" (click)="goupdateAddress()"></i>
            </li>
           
        </ul>
        <div class="checkbtn"(click)="goaddAddress()" >新增地址</div>
    </div>  

</div>


