<div class="cartLqx">
    
    <div class="cartHeader">
        <ul class="headerUl  navbar navbar-default navbar-fixed-top">
            <li>
                <h3>
                    <i>&lt;</i>
                    购物车
                    <span>编辑</span>
                </h3>
            </li>
            
            
        </ul>
    </div>
    <div class="cartAddress">
        <span class="borderTop"></span>
        <span class="borderBottom"></span>
       
        <p>
            <span class="username">lqx</span>
            <span class="phone">1888888888</span>
            <span class="addressType">公司</span>
        </p>
        <div class="localAddress">
            <i class="glyphicon glyphicon-map-marker"></i>
            <p>
                <span class="street">元岗街道 </span>
                <span class="detailAddress">广东省广州市天河区元岗街道兆联元岗创意产业园D座 </span>
            </p>
        </div>
        <i class=""></i>
    </div>
    <div class="cartMain">
        <div class="cartNav">
            <span>商品清单</span>
            <span>总重约<i>0</i>kg</span>
        </div>
        <div class="cartGoodsList">
            <ul class="cartList">
    
                <li class="h98">
                    <i class="circle"></i>
                    <div>
                        <img src="https://imgqn8.fruitday.com/images/product_pic/500/1/1-180x180-500-3A4YF743.jpg" />
                    </div>
                    <div class="pl10">
                        <p>decription</p>
                        <p><i>300g</i><i>约0.30kg</i></p>
                        <span class="price">￥99</span><span>明日达</span>
                    </div>
                    <div class="fr">
                        <i>&times;1</i>
                    </div>

                </li>
                <li>
                    <span>共1件商品 合计：￥88.90（含运费￥20.00）</span>
                </li>
                <li>
                    <input type="button" value="删除订单" class="delete"/>
                </li>
            </ul>
        </div>
    </div>
</div>