<div class="search">
    <div class="s-head">
        <a href="javascript:history.go(-1)" class="s-head-l">
            <i class="el-icon-arrow-left"></i>
            返回
        </a>
        <div class="s-head-c">
            <i class="el-icon-search"></i>
            <input type="text" placeholder="新鲜水果、生蔬" [(ngModel)]="searchInput" (focus)="goSearch()" />
            <span class="el-icon-close" *ngIf="searchInput" (touchend)="clearInput()"></span>
        </div>
        <span href="smallList" class="s-head-r" (touchend)="goSmallList()">搜索</span>
    </div>
    <div class="s-main" (click)="gotoSmallList($event)" *ngIf="!listShow">
        <h3>热门搜索</h3>
        <span *ngFor="let str of hotSearch">{{str}}</span>
        <h3>历史搜索</h3>
        <span *ngFor="let str of history">{{str}}</span>
        <p [class.active]="pShow">{{hint}}</p>
    </div>
    <div class="s-list" *ngIf="listShow">
        <a class="l-main" *ngFor="let obj of listGoods" (touchstart)="goStart()" (touchmove)="goMove($event)" (touchend)="goDetails($event,obj.id)">
            <div class="l-main-l">
                <img [src]="obj.mainimg" />
            </div>
            <div class="l-main-r">
                <h2>{{obj.title}}</h2>
                <h3>{{obj.describes}}</h3>
                <p>￥<span>{{obj.saleprice}}</span><em>.00</em><i>明日达</i><strong data class="el-icon-plus addcar" [attr.gid]="obj.id" (touchend)="addCart($event);$event.stopPropagation();"></strong></p>
            </div>
        </a>
    </div>
    <div class="fixer" *ngIf="popup">
        <div class="f-main">
            <div class="f-main-t">
                您还没有登录，请先登录！
            </div>
            <div class="f-main-b">
                <input type="button" value="取消" (click)="cancelAdd()" />
                <input type="button" value="确定" (click)="sureAdd()" />
            </div>
        </div>
    </div>
</div>