.main_top{
    height: 2.56rem;
    width: 100%;
    padding:0.533333rem  0.533333rem 0.533333rem 1.666667rem;
    border-bottom: 0.013333rem solid #ccc;
    dt{
        float:left;
        width: 1.493333rem;
        height: 1.493333rem;
        padding:0.213333rem 0;
        margin-right:0.8rem;
        border-radius: 50%;
        background-color: #ff8000;
        span{
            display:block;
            width: 100%; 
            height: 0.48rem;
            text-align: center;
            font-size: 0.4rem;
            color:#fff;
        }
    }
    .main_tr{ 
        float:left;
        height: 1.493333rem;
        width: 5.333333rem;
        p{
            padding-bottom: 0.066667rem;
            position: relative;
             span{
                display:inline-block;
                font-size: 0.4rem;
                margin: 0.066667rem 0;
                margin-right:0.266667rem;
             }
            nz-rate{
                /*line-height: 0.666667rem;*/
                width: 2.666667rem;
                height: 0.533333rem;
                position:absolute;
                left: 1.133333rem;top: 0.133333rem;
                .anticon-star{
                    font-size: 0.4rem !important;
                }
                .anticon{
                    font-size: 30px !important;
                }

            }
        }
    }
}
.nz-tabset{
    text-align: center !important;
    font-size:30px;
}
.estimate{
    height: 1.6rem;
    width: 100%;
    background-color: #eee;
    padding-top:0.4rem;
    font-size:0.4rem;
    text-align:center;
    border-bottom:0.026667rem solid #ccc;
    .estimate_contain{
        height: 1.2rem;width: 100%;
        background-color: #FFF;
        padding:0.2rem 0;
        .estimate_l,.estimate_r{
            height: 0.8rem;
            width: 2.0rem;
            display:inline-block;
            border:0.026667rem solid #ff8000;
            line-height: 0.773333rem;
            color:#ff8000;
        }
        .es_avtive{
            background-color: #ff8000;
            color:#fff;
        }
    }
}
.client{
    
    .client_li{
        height: 2.4rem;
        width: 100%;
        background-color: #ccc;
        border-bottom:0.013333rem solid #ccc;
        padding-left:0.666667rem;
        padding-top:0.2rem;
        .client_p{
            // height: 1.066667rem;
            width: 100%;
            padding-left:0.666667rem;
            padding-top:0.266667rem;
            position:relative;
            img{
                position:absolute;
                top: 0;
                left: 0;
                height: 0.933333rem;
                width: 0.933333rem;
                border-radius:50%;

            }
        }
    }
}